@if (items.length === 0) {
  <div>
    <h6>Nenhum aluno cadastrado no momento.</h6>
  </div>
} @else {
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Aprovado</th>
      <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of items">
      <td>{{ student.id }}</td>
      <td><a [routerLink]="['/studentForm', student.id]">{{ student.name }}</a></td>
      <td>{{ student.email }}</td>
      <td>
        <i class="{{student.aproved ? 'bi bi-check2' : 'bi bi-x-lg' }}"></i>
      </td>
      <td>
        <button class="btn-close" (click)="$event.preventDefault();removeStudent(student)"></button>
      </td>
    </tr>
    </tbody>
  </table>
}
