<div class="mb-5 container">
  <h2 mat-dialog-title>{{ title }}</h2>

  <mat-dialog-content
    class="d-flex flex-column"
    [formGroup]="form">
    <mat-form-field class="form-control">
      <label class="form-label">Usuario</label>
      <input matInput
             type="text"
             class="form-text"
             placeholder="Novo usuario"
             formControlName="newUsername">
    </mat-form-field>
    <div
      *ngIf="form.get('newUsername')?.invalid && ( form.get('newUsername')?.dirty || form.get('newUsername')?.touched )">
      <small
        class="text-danger"
        *ngIf="form.get('newUsername')?.hasError('required')"
      >Campo obrigatorio</small>
    </div>

    <mat-form-field class="form-control">
      <label class="form-label">Senha</label>
      <input matInput
             type="password"
             class="form-text"
             placeholder="Nova senha"
             formControlName="newPassword">
    </mat-form-field>
    <div class="d-flex flex-column"
      *ngIf="form.get('newPassword')?.invalid && ( form.get('newPassword')?.dirty || form.get('newPassword')?.touched )">
      <small
        class="text-danger"
        *ngIf="form.get('newPassword')?.hasError('required')"
      >Campo obrigatorio</small>
      <small
        class="text-danger"
        *ngIf="form.get('newPassword')?.hasError('min')"
      >Minimo de 6 caracteres</small>
    </div>

    <mat-form-field class="form-control">
      <label class="form-label">Confirme senha</label>
      <input class="form-text"
             matInput
             type="password"
             placeholder="Confirme nova senha"
             formControlName="confirmNewPassword">
    </mat-form-field>
    <div class="d-flex flex-column"
      *ngIf="form.get('confirmNewPassword')?.invalid && ( form.get('confirmNewPassword')?.dirty || form.get('confirmNewPassword')?.touched )">
      <small
        class="text-danger"
        *ngIf="form.get('confirmNewPassword')?.hasError('required')"
      >Campo obrigatorio</small>
      <small
        class="text-danger"
        *ngIf="form.get('confirmNewPassword')?.hasError('min')"
      >Minimo de 6 caracteres</small>
      <small
        class="text-danger"
        *ngIf="form.get('newPassword')?.value != form.get('confirmNewPassword')?.value"
      >Senha digitada não bate com a senha acima</small>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn btn-primary" (click)="save()">Salvar</button>
  </mat-dialog-actions>

</div>
